:root {
  --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --white: #FFFFFF;
  --background-color: #F2E7D5;
  --card-color: #F7F7F7;
  --headings-color: #6D9886;
  --text-color: #393E46;
  --charcoal: rgb(45, 43, 43);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  flex-grow: 0;
  flex-basis: 100%;
}

.content {
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.content .content {
  padding: 0;
}

.control-container .content {
  background-color: var(--headings-color);
  color: var(--white);
  margin: 0 8px;
}

/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {
  .item.control-container {
    flex-basis: 50%;
  }

  .item.control {
    flex-basis: 50%;
  }
}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {

  .item.navbar-logo,
  .item.navbar-menu {
    flex-basis: 50%;
  }

  .item.card {
    flex-basis: 50%;
  }

  .item.intro {
    flex-basis: 50%;
  }

}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
  }

  .item.card {
    flex-basis: 33.33333333333333333333333333333333333%;
  }

}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

input,
textarea,
button,
select {
  display: block;
  height: 2rem;
  width: 100%;
  margin: 0;
  padding: 0.25rem;
  border: 1px solid var(--charcoal);
}

textarea {
  height: 4rem;
}

button {
  height: 2.5rem;
}

form>* {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.control select {
  max-width: 72px;
}

#navbar {
  display: flex;
  background-color: var(--headings-color);
  color: var(--white);
  border-bottom: 4px solid;
}

#navbar a {
  color: var(--white);
}

.navbar-items {
  justify-content: space-between;
}

.navbar-menu ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style-type: none;
}

.navbar-menu li {
  margin: 0 0.5rem;
}

.navbar-logo {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
}

.navbar-logo a {
  color: var(--white);
  text-decoration: none;
}

.card-content {
  background-color: var(--card-color);
  border-top: 8px solid var(--charcoal);
  margin: 8px 8px 24px 8px;
}

.card-content:hover {
  box-shadow: 0 0 4px 3px var(--headings-color);
}

.card-content p {
  font-style: italic;
}

.card-content .card-title {
  margin-bottom: 24px;
}

.card-content .item.card-title {
  flex-basis: 66.6666666666666667%;
}

#footer {
  text-align: center;
  display: flex;
  margin-top: auto;
  background-color: var(--headings-color);
  color: var(--charcoal);
  height: 5px;
}

.intro {
  font-size: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}